upstream front {
    server unix:/var/www/front/current/tmp/sockets/unicorn.sock;
}

server {
    listen 80;
    server_name test.jp;

    charset utf-8;

    include /usr/local/nginx/conf/common-ip.conf;
    deny all;
    error_page 403 =302 http://$host/;

    error_log /var/log/nginx/front.error.log warn;
    access_log /var/log/nginx/front.access.log main;

    proxy_buffering on;
    proxy_buffers 16 32k; 
    client_body_buffer_size 128k; 

    location / {
        root   /usr/local/nginx/html;
        index  index.html;
    }

    location ~ ^/0711/img/\d+\.png$ {
        proxy_pass  http://front;
        proxy_ignore_headers Expires Cache-Control;
        proxy_cache cache;
        proxy_cache_valid 200 302 5m;
        proxy_cache_valid 404 10s;
    }
    location ~ ^/0711/admin.*$ {
        include /usr/local/nginx/conf/common-ip.conf;
        deny all;
        error_page 403 =301 http://$host/0711/;
        try_files $1 @app;
    }
    location ~ ^/0711(.*) {
        root /var/www/front/current/public;
        try_files $1 @app;
    }

    location @app {
        proxy_pass http://front;
    }
}

